extends layout

block content
  .container
    h1 Christian's College Math Calculators
    ul
      li
        a(href='/rref') Matrix Row Reduction Calculator
      li
        a(href='/pde-calculator') PDE Calculator
      //- Add more calculators as needed
